**/__pycache__/
*.log
*.lrat
HMV
HMV_cnf
join_instances
join_tetris_traces
pebbling_cnf
pigeonhole_cnf
hmv_sat
pebbling_sat
pebbling_tetris
pigeonhole_sat
pigeonhole_tetris
_files
visualization

join_sat_outputs/*
!join_sat_outputs/run_5

join_tetris_unit/*
!join_tetris_unit/run_5

visualization_joins/*
!visualization_joins/run_5


depth_first/*
!depth_first/run_5


